article>*:not(.entry-content),
.entry-content>* {
    @apply mx-auto;
}

img {
    width: 100%;
    height: auto;
}



.entry-content,
.block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }


    p,
    ul,
    ol {
        @apply mb-8;
    }

    ul,
    ol {
        padding: 0 0 0 40px;
    }

    li {
        list-style: inherit;
        list-style-type: inherit;
        list-style-position: inherit;
    }

}

.wp-element-caption {
    @apply !text-neutral-400;
}
